<div>
    <div ng-if='vm.order == null || vm.order.value == null'>
        <I>Currently there is no shipping order for this event</I> <br>
        
        <button class='btn btn-success'
                ng-click='vm.createShippingOrderFromTemplate()'>
            Create Shipping Order From Template
        </button> <br>

        <button class='btn btn-success'
                ng-click='vm.createBlankShippingOrder()'>
            Create Blank Shipping Order
        </button>

    </div>
    <div ng-if='vm.order != null'>
        <table class="table">
            <tr>
                <th>Category</th>
                <th>Value</th>
            </tr>
            
            <tr ng-repeat='item in vm.order.items'>
                <td>
                    <strong>{{vm.itemRoles[item.role].name}}</strong> <br>
                    <I>{{vm.itemRoles[item.role].description}}</I>

                </td>
                <td>
                    {{vm.allItems}}
                </td>
            </tr>
        </table>
    </div>
</div>