<div>
    <h1>{{}} Closing Report</h1>
    <h3>29 Kettle: Mobile Retail</h3>

    <section>
        <h3>Manufacturing</h3>
        <h4>Cooking</h4>
        <h4>Resources</h4>
        <ul>
            <li>Staged Pecans</li>
            <li>Staged Almonds</li>
            <li>Staged Cashews</li>
            <li>Staged Peanuts</li>
            <li>Staged Hazelnuts</li>
            <li>Salt</li>
            <li>Sweet & Salty Mix Supply</li>
            <li>Bourbon Supply</li>
            <li>Pint Cups</li>
            <li>Pint Linds</li>
            <li>Half Pint Cups</li>
            <li>Half Pint Lids</li>
            <li>Platter Bases</li>
            <li>Platter Lids</li>
            <li>Tape</li>
            <li>Paper Towels</li>
            <li>Cooking Trays</li>
            <li>Hand Soap</li>
            <li>Trash Bags</li>
        </ul>
    </section>

    <section>
        <h3>Sales</h3>
    </section>

    <section>
        <h3>Customers</h3>
    </section>

    <section>
        <h3>Closing Checklist</h3>
        <ul>
            <li>Pay Rent</li>
            <li>stage uncooked nuts bin</li>
            <li>
                Clean Roaster
                <ul>
                    <li>Fill With Water</li>
                    <li>Wipe all surfaces</li>
                    <li>turn off roaster</li>
                    <li>Empty water into catch bucket</li>
                    <li>Move trash to catch bucket</li>
                    <li>coil power cord</li>
                </ul>
            </li>
            <li>
                Pull Power
                <ul>
                    <li>Wrap up extension cord</li>
                    <li>stage generator (if applicable)</li>
                    <li>stage splitter</li>
                    <li>return charging cables to electronics box</li>
                </ul>
            </li>
            <li>Pack Cooking Box</li>
            <li>Submit Tokens</li>
            <h4>Closing bell</h4>
            <li>Pull banner</li>
            <li>
                Pack Serving Bins Box
                <ul>
                    <li>Close Cooked Nuts Serving Bins</li>
                    <li>Return tongs to ziplock</li>
                </ul>
            </li>
            <li>
                Pack Misc Box
            </li>
            <li>
                Pack Packaging Box
            </li>
            <li></li>
        </ul>
    </section>
</div>