<div>
    <div class="container">
        <h3>29 Kettle: Mobile Retail</h3>
        <h4>{{vm.report.channel}} Manufacturing Report</h4> <!-- Add market name here-->
        <strong>Assigned to: </strong>{{ vm.report.assignedTo.name}} <br><!-- Add Team member name here-->
        <strong>Event date: </strong> {{vm.report.eventDate | date : "shortDate"}}<!-- Event Date here-->

        <!--Cook Time Chart-->
        <team-cook-time-chart>
        </team-cook-time-chart>

        <!--Cooking Recorder-->
        <team-record-cooking>
        </team-record-cooking>

        <!--Cooked Supply Levels-->
        <team-cooked-supply-levels>
        </team-cooked-supply-levels>

        <!--All MFG txs-->
        <team-all-mfg-txs>
        </team-all-mfg-txs>

        <!--Raw Supply Levels-->
        <team-raw-supply-levels>
        </team-raw-supply-levels>


        <section>
            <h4>Cooking</h4>
            <h4>Resources</h4>
            <ul>
                <li>Staged Pecans</li>
                <li>Staged Almonds</li>
                <li>Staged Cashews</li>
                <li>Staged Peanuts</li>
                <li>Staged Hazelnuts</li>
                <li>Salt</li>
                <li>Sweet & Salty Mix Supply</li>
                <li>Bourbon Supply</li>
                <li>Pint Cups</li>
                <li>Pint Linds</li>
                <li>Half Pint Cups</li>
                <li>Half Pint Lids</li>
                <li>Platter Bases</li>
                <li>Platter Lids</li>
                <li>Tape</li>
                <li>Paper Towels</li>
                <li>Cooking Trays</li>
                <li>Hand Soap</li>
                <li>Trash Bags</li>
            </ul>
        </section>
    </div>
</div>