<div>
    <div class="container">
        <h3>29 Kettle: Mobile Retail</h3>
        <h4>{{}} Setup Checklist</h4>   <!-- Add market name here-->
        <strong>Assigned to: {{}}</strong> <br><!-- Add Team member name here-->
        <strong>Event date: {{}}</strong> <!-- Event Date here-->

        <!-- Checklist Items-->
        <section>
            <table class="table">
                <tr>
                    <th>Task</th>
                    <th>Status</th>
                </tr>
            </table>
        </section>

        <!-- Submission -->
        <section>
            <p class='form-check form-switch'>
                <label for="acknowledgment">
                    <input type="checkbox" id='acknowledgment' class='form-check-input' > I acknowledge that all of these statments are true and accurate to the best of my knowledge.
                </label>
            </p>
            
            
            <p>
                <button class="btn btn-info">Submit</button>
            </p>
            
        </section>
    </div>
    
</div>